body {
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background: #222;
}

#player {
    width: 100%;
    height: 300px;
    background: black;
}

#video-list {
    padding: 10px;
}

.video-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background: #222;
    border-radius: 6px;
}

.video-item:hover {
    background: #333;
}

.thumbnail {
    width: 100%;
    border-radius: 6px;
}
