body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
}

header {
  background: #202020;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#layout {
  display: flex;
  height: calc(100vh - 60px);
}

#video-area {
  flex: 3;
  padding: 10px;
}

#player {
  width: 100%;
  height: 70vh;
  background: black;
  border-radius: 6px;
}

#sidebar {
  flex: 1;
  border-left: 2px solid #333;
  background: #181818;
  overflow-y: auto;
  padding: 10px;
}

#videoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#videoList li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  background: #222;
}

#videoList li:hover {
  background: #333;
}

#videoList img {
  width: 120px;
  border-radius: 4px;
}
